<mat-sidenav-container hasBackdrop="false" autosize="true"> <!-- Pour que le push fonctionne, il faut que le taille du container soit recalculée à chaque "mise à jour de l'UI", on utilise alors autosize -->
  <mat-sidenav opened="true" disableClose="true" mode="push">
    <app-pokemon-list (onPokemonClickedEvent)="onPokemonSelected($event)"></app-pokemon-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-pokemon-detail *ngIf="selectedPokemon" [pokemonId]="selectedPokemon"></app-pokemon-detail>
  </mat-sidenav-content>
</mat-sidenav-container>
