.pokemons-list-item:hover {
  background-color: #383838;
  cursor: pointer;
}

.pokemons-list {
  height: 75vh;
  overflow-y: auto;
}

.sprite {
  max-width: 48px;
  max-height: 48px;
}

.error-message {
  padding-top: 48px;
}

.spinner-container {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-list {
  height: 85vh;
  overflow-y: auto;
}
